html, body {
    background-color: #333333;
    color: #f3f3f3;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
.heading {
    font-size: 20px;
    margin-left: 40%;
    margin-top: 10px;
    height: 650px;

}
.intro1 {
    height: 400px;
    position: relative;
    margin-bottom: 50px;
}
.img-container1 {
    height: 400px;
    width: 30%;
    background-color: red;
    position: relative;
    margin-left: 20%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50%;
}
.intro1-content {
    height: 400px;
    width: 30%;
    
    position: absolute;
    margin-left: 50%;
    margin-bottom: 50px;
    right: 20%;
    top: 755px;
    text-align: center;
    
}
.tab-intro1 {
    margin-right: 10%;
    margin-top: 20%;
    margin-bottom: 30%;
    font-size: large;
}
.intro2 {
    height: 400px;
    position: relative;
    margin-bottom: 50px;
}
.intro2-content {
    height: 400px;
    width: 30%;
    position: relative;
    margin-left: 20%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50%;
}

.tab-intro2 {
    margin-left: 20%;
    
    font-size: large;
}
.img-container2 {
    height: 400px;
    width: 30%;
    position: absolute;
    margin-left: 50%;
    margin-bottom: 50px;
    right: 20%;
    top: 1290px;
}
.intro3 {
    height: 400px;
    position: relative;
    margin-bottom: 50px;
}
.img-container3 {
    height: 400px;
    width: 30%;
    background-color: red;
    position: relative;
    margin-left: 20%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50%;
}
.intro3-content {
    height: 400px;
    width: 30%;
    position: absolute;
    margin-left: 50%;
    margin-bottom: 50px;
    right: 20%;
    top: 1795px;
    text-align: center;
    
}
.tab-intro3 {
    margin-right: 10%;
    margin-top: 20%;
    margin-bottom: 30%;
    font-size: large;
}
hr {
    border: none;
    border-top: 3px double #f3f3f3;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
}