html,body {
    background-color: #333333;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    top: 100px;
    color:   #f3f3f3;
    font-size: 16px;

}
h1 {
    text-align: center;
    color: #FF4500;
    
}
h2 {
    color: #FF4500;
    margin-left: 10%;
}

hr {
    border-color: #333333;
    border-width: 2px;
    width: 100%;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #333333;
    padding-top: 60px;
}
.modal-content {
    background-color:rgb(100, 24, 24);
    margin: 5px auto;
    border: 1px solid #f3f3f3;
    width: 80%;
}
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  /* Close button on hover */
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
  }
  
  @keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
  }
.aboutme {
    color: whitesmoke;
    margin-left: 50%;
}
.hobby {
    margin-left: 50%;
}
.head {
    margin-top: 10px;
}
#form1 {
    margin-left: 20%;
    color: blue;
}